#page-container{  
    display:flex;
    flex-direction:column;
    align-items:center;
    width:75vw; 
    margin: auto; 
} 
.postDetails{
    color: gray
}
#heading{ 
    padding: 15px;
    width: 100%;
    background-color: darkorange;
    color: white;
}
#Feed{
    padding: 0px 30px;
    width:100%; 
}
.Post{
    margin-top: 20px;
}
.postTitle{
    font-weight: bold;
    line-height: 20%;
} 
.commentsLink{
    text-decoration: none;
    color: inherit;
}